<h1>Editing agenda request</h1>

<%= render "form", agenda_request: @agenda_request %>

<br>

<div>
  <%= link_to "Show this agenda request", @agenda_request %> |
  <%= link_to "Back to agenda requests", agenda_requests_path %>
</div>
